<?xml version="1.0"?>
<Events>
	<Event id="timeClockEvent">
        <Name>Time Clock Event</Name>
        <ConfigUI>
            <Field id="event" type="menu">
                <Label>Select Timeclock Event:</Label>
                <List class="self" filter="" method="pickEvent"  dynamicReload="true"/>
            </Field>            
        </ConfigUI>
	</Event>
	<Event id="groupEvent">
        <Name>Room (Group) Event</Name>
        <ConfigUI>
            <Field id="group" type="menu">
                <Label>Room Group:</Label>
                <List class="self" filter="" method="pickGroup"  dynamicReload="true"/>
            </Field>
            <Field type="menu" id="occupancyPopUp" defaultValue="occupied">
                <Label>Becomes:</Label>
                <List>
                    <Option value="3">Occupied</Option>
                    <Option value="4">Unoccupied</Option>
                </List>
            </Field>            
        </ConfigUI>
	</Event>
	<Event id="keypadButtonPress">
        <Name>Keypad Button Press</Name>
 		<ConfigUI>
            <Field type="menu" id="clicks" defaultValue="1">
                <Label>Presses:</Label>
                <List>
                    <Option value="1">First Press</Option>
                    <Option value="2">Second Press</Option>
                    <Option value="3">Third Press</Option>
                </List>
            </Field>            
            <Field id="room" type="menu">
                <Label>Room:</Label>
                <List class="self" filter="" method="roomListGenerator"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>
            <Field id="buttonID" type="menu">
                <Label>Button:</Label>
                <List class="self" filter="" method="pickKeypadButton"  dynamicReload="true"/>
            </Field>            
 		</ConfigUI>
	</Event>
</Events>

